@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-green-400: #10b981;
}

@custom-variant dark (&:where(.dark, .dark *, .app-dark, .app-dark *));

.dark {
  --color-white: #111111;
  --color-black: #ffffff;
  --color-gray-50: #262626;
  --color-gray-100: #1a1a1a;
  --color-gray-200: #333333;
  --color-gray-300: #404040;
  --color-gray-800: #e5e5e5;
  --color-gray-900: #f5f5f5;
  --color-green-400: #34d399;
}

body {
  font-family: 'Inter', sans-serif;
}
